:root {
    --background-color: #FFFFFF;
    --note-bg-color: #E8E8E8;
    --menu-bg-color: #E8E8E8;
    --text-menu-bg-color: #cccccc;
    --glow-color: #C2C1FF;
    --text-color: #000000;
    --link-color: #6e6e7e;
    --tool-size: 3em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

#bounding {
    /* border: 1px red solid; */
    margin: 0;
    padding: 0;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
}

.logo {
    box-sizing: border-box;
    background-color: var(--menu-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0 0 4em 0;
}

#logo1 {
    width: 4.5em;
    height: 14em;
}

#logo2 {
    height: 4.5em;
    width: 14em;
}

.logo-text {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 13em;
    pointer-events: none;
}

a,
a:visited {
    color: var(--link-color);
}

.note-padding-v,
.note-padding-h {
    position: absolute;
    pointer-events: none;
}

.note-padding-v {
    width: 100%;
}

.note-padding-h {
    height: 100%;
}

.static-note {
    visibility: hidden;
}

.note-container {
    position: absolute;
    transition: filter 0.5s, opacity 0.5s;
}

.note-window {
    position: relative;
    padding: 0;
    margin: 0;
    box-shadow: var(--glow-color) 0px 0px 36px 12px;
    overflow: hidden;
}

.note-content {
    box-sizing: border-box;
    background-color: var(--note-bg-color);
}

.note-content img {
    width: 100%;
    height: auto;
    max-height: 40em;
    object-fit: contain;
}

.absolute {
    position: absolute;
}

.drop-shadow {
    box-shadow: var(--glow-color) 0px 0px 5px 3px;
}

.note-editing {
    /* border: 3px white solid; */
    box-shadow: var(--glow-color) 0px 0px 48px 24px;
}

.note-locked {
    filter: grayscale(50%) blur(1px);
    /* opacity: 50%; */
}

.overflow-hidden {
    overflow: hidden;
}

.grow,
.slide {
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.grow {
    transition-property: width, height;
}

.slide {
    transition-property: top, left;
}

.note {
    width: 22em;
    padding: 1em;
    padding-right: 2em;
    height: fit-content;
}

.ql-container {
    font-size: large;
    color: var(--text-color);
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding: 0.2em;
    top: 0;
    right: 0;
    border-radius: 0 0 0 0.5em;
    background-color: var(--glow-color);
    z-index: 1010;
    width: 2em;
}

#note-buttons {
    visibility: hidden;
}

.btn,
.handle,
.drag {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    margin: 0.1em;
    user-select: none;
}

.handle {
    cursor: col-resize;
}

.drag {
    cursor: move;
}

.ql-editor {
    box-sizing: border-box;
    counter-reset: list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    line-height: 1.42;
    outline: none;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.ql-editor p,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
    margin: 0;
    padding: 0
}

.ql-editor ol {
    padding-left: 1.5em;
}

.ql-editor ol li[data-list="bullet"] {
    list-style-type: disc;
}

.ql-editor mark {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: 3px;
    cursor: pointer;
}

.ql-editor mark img {
    box-shadow: inherit;
    background-color: inherit;
}

.ql-editor blockquote {
    border-left: var(--glow-color) 3px solid;
    padding: 0.3em;
    font-style: italic;
    margin: 0.7em;
}

.ql-font-monospace {
    font-family: monospace;
}

.ql-font-serif {
    font-family: serif;
}

.tool {
    width: var(--tool-size);
    height: var(--tool-size);
    object-fit: contain;
    cursor: pointer;
    margin: 0.5em;
    z-index: 1002;
    position: relative;
    user-select: none;
}

#tool-glow {
    position: fixed;
    width: 6em;
    height: 6em;
    background: radial-gradient(closest-side, var(--glow-color) 20%, rgba(0, 0, 0, 0) 100%);
    z-index: 1001;
    visibility: hidden;
    pointer-events: none;
}

.tool-disabled,
.coming-soon {
    filter: contrast(50%);
    opacity: 50%;
}

#insert-toolbar,
#text-toolbar,
#room-toolbar {
    padding: 0.5em;
    background-color: var(--menu-bg-color);
    z-index: 1000;
    border-radius: 4em 0 0 0;
}

#insert-toolbar,
#text-toolbar {
    flex-direction: row;
    width: fit-content;
    padding-left: calc(0.5 * var(--tool-size));
}

#insert-toolbar {
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#text-toolbar {
    max-width: 95vw;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: var(--text-menu-bg-color);
    padding-top: 0;
    padding-bottom: 0;
    padding-right: calc(var(--tool-size) + 1em + 0.5em);
}

#room-toolbar {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    flex-direction: column;
    height: fit-content;
    padding-top: 2em;
    z-index: 1001;
}


#tooltip {
    position: fixed;
    visibility: hidden;
    pointer-events: none;
    padding: 0.5em;
    max-width: 10em;
    background-color: var(--glow-color);
    z-index: 2000;
}

dialog {
    z-index: 1999;
    position: absolute;
    padding: 1em;
    background-color: var(--menu-bg-color);
    box-shadow: var(--glow-color) 0px 0px 48px 24px;
    border: none;
    margin: 0;
}

#highlight-toolbar {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    gap: 0.5em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 3em;
    padding-left: 1.2em;
    border-radius: 3em 0 0 0;
    background-color: var(--glow-color);
    z-index: 1010;
    visibility: hidden;
}

#highlight-toolbar .tool {
    margin: 0;
    width: 2em;
    height: 2em;
}

#highlight-colour-pallette {
    display: flex;
    gap: 0.1em;
    overflow: hidden;
    align-items: center;
    max-width: 0;
    margin-right: 0.5em;
    transition: max-width 0.6s;
}

.colour-choice {
    display: inline;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 1.6em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #FF00FF;
    border: 1px black solid;
}

#url-toolbar {
    box-sizing: border-box;
    position: absolute;
    background-color: var(--glow-color);
    color: var(--text-color);
    border-radius: 0 0 0 1em;
    padding: 0.3em 1.2em;
    z-index: 1010;
    visibility: hidden;
}

#url-toolbar a,
#url-toolbar a:visited {
    color: var(--text-color);
}

#remove-link-btn {
    display: inline;
    height: 1.2em;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0.5em;
}

dialog>div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 0.5em;
    max-width: 20em;
}

dialog button {
    width: 100%;
}

.transparent {
    background: black;
    opacity: 50%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button,
input[type=submit] {
    background-color: var(--glow-color);
    border: none;
    color: var(--text-color);
    border-radius: 3px;
    padding: 0.4em;
    cursor: pointer;
}

button:focus,
button:hover,
input[type=submit]:focus,
input[type=submit]:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

button:focus,
input[type=submit]:focus {
    outline: 2px solid var(--text-color);
}

button:active {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.5);
}

input[type=text] {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 0.4em;
}

input[type=text]:focus {
    outline: 2px solid var(--text-color);
}