:root {
    --background-color: #FFFFFF;
    --note-bg-color: #E8E8E8;
    --menu-bg-color: #E8E8E8;
    --glow-color: #C2C1FF;
    --text-color: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: var(--background-color);
}

#bounding {
    /* border: 1px red solid; */
    margin: 0;
    padding: 0;
    position: absolute;
    pointer-events: none;
}

.logo {
    box-sizing: border-box;
    background-color: var(--menu-bg-color);
    font-family: monospace;
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.3em;
    z-index: 1000;
    border-radius: 0 0 2em 0;
}

#logo1 {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 2em;
    height: 6.5em;
}

#logo2 {
    padding-left: 1em;
    padding-right: 2em;
    height: 2em;
    width: 6.5em;
}

.logo-text {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}


.note-container {
    position: absolute;
    background-color: var(--note-bg-color);
    box-shadow: var(--glow-color) 0px 0px 16px 7px;
    padding: 0;
}

.note-container img {
    width: 100%;
}

.absolute {
    position: absolute;
}

.drop-shadow {
    box-shadow: var(--glow-color) 0px 0px 5px 3px;
}

.note-editing {
    /* border: 3px white solid; */
    box-shadow: var(--glow-color) 0px 0px 30px 15px;
}

.split {
    overflow: hidden;
}

.note {
    border: 1px solid black;
    width: 22em;
    padding-right: 1em;
    height: fit-content;
}

.ql-container {
    font-size: large;
    color: var(--text-color);
}

.ql-editor {
    padding-right: 1em;
}

#note-buttons {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: .5em;
    position: absolute;
    padding: 0.2em;
    top: 0;
    right: 0;
    border-radius: 0 0 0 0.5em;
    filter: drop-shadow(var(--glow-color) 0px 0px 4px);
    background-color: var(--glow-color);
    z-index: 1010;
    visibility: hidden;
    width: fit-content;
}

.btn {
    cursor: pointer;
    width: 1em;
    height: 1em;
    margin: 0.1em;
}


.ql-editor mark {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    cursor: pointer;
}

.ql-editor blockquote {
    border-left: var(--glow-color) 3px solid;
    padding: 0.3em;
    font-style: italic;
    margin: 0.7em;
}

.tool {
    width: 2em;
    height: 2em;
    object-fit: contain;
    cursor: pointer;
    margin: 0.8em;
}

#edit-toolbar,
#room-toolbar {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    padding: 0.5em;
    background-color: var(--menu-bg-color);
    z-index: 1000;
    border-radius: 4em 0 0 0;
}

#room-toolbar {
    flex-direction: column;
    height: fit-content;
    padding-top: 2em;
    z-index: 1001;
}

#edit-toolbar {
    flex-direction: row;
    width: fit-content;
    padding-left: 2em;
    padding-right: calc(2em + 2*0.8em + 0.5em);
}

#unavailable {
    position: fixed;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--glow-color);
    z-index: 2000;
    transform: translate(-50%, -50%);
}